body {
	font-family: verdana;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	background: #ddb url(http://jedit.org/ruby/images/holder.gif) top center repeat-y;
	background-color: rgb(221,221,187);
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

table.header, table.menu, table.container, table.footer {
	border: 0px;
	width: 720px;
}
table.header {
  padding-top: 0px;
  padding-bottom: 0px;
	background-color: #990000;
	color: rgb(238,238,221);
}
h1.header {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 25px;
	margin-left: 0px;
}
p#subtext {
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom: 12px;
  font-style: italic;
}
td.menu {
	padding: 0px;
	background-color: #990000;
	color: rgb(238,238,221);
}
table.container td {
	background-color: rgb(238,238,221);
	background-color: #fff;
}
img {
	border: 0px;
  padding-left: 10px;
}
img.logo {
	margin-right: 0px;
  padding-bottom: 0px;
}
td.sidebar2 {
	padding: 5px;
	width: 170px;
}
li {
  padding-bottom: 1px;
}
td.footer{
	font-size: 10px;
}

p.slogan {
  font-size: 12px;
  margin-top: 20px;
  color: #900;
  font-style: italic;
}
dl {
	background: rgb(221,221,187);
}

#sidebar dd, #sidebar dt {
	margin-left: 0;
	padding-left: 0;
	line-height: 17px;
	margin-bottom: 4px;
}

body #sidebar dt {
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 5px;
	background: transparent;
	color: #ffe;
	padding: 2px 5px;
	background: #900;
	text-shadow: 2px 3px 3px #896;
	}

#sidebar dd {
      padding: 2px 5px 2px 5px;
}
#sidebar dd a:link, #sidebar dd a:visited {
	font-weight : normal; 
}

a { color:  #990000; }
a:visited { #C82536; }
a:hover { color:#660000; text-decoration: none; }

a.menu {
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  margin: 0px;
  border: 0px;
}

a.menu:hover { color: #990000; background-color: rgb(221,221,187);}

#selected a.menu {
  color: #990000;
  background-color: #fff;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
  margin-top: 2px;
  color:  #990000;
}

h3 {
  color:  #990000;
	margin-bottom: 3px;
	padding-bottom: 0px;
}

#features p {
  margin-top: 0px;
  margin-bottom: 2px;
}

.author {
	font-size: 12px;
	color: #c0c0c0;
}

div#content {
	margin-left: 5px;
	padding: 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

blockquote {
  font-style: italic;
  padding: 0px;
  margin: 10px 0px 3px 0px;
}
