package ${pluginPackage};
//{{{ Imports
import org.gjt.sp.jedit.EditPlugin;
//}}}
public class ${pluginClass} extends EditPlugin {
	public void start() {
		// TODO: Implement startup - This method is called when your plugin is initialized.
	}
	public void stop() {
		// TODO: Implement shutdown - This method is called when your plugin is unloaded.
	}
}
