###
### Alan's Build property file for jedit plugins
###

# You need to change these
jedit.install.dir=/home/ezust/workspace/jedit/trunk/build
build.support=/home/ezust/workspace/jedit/trunk/build-support

# For regular work:
install.dir=/home/ezust/.jedit/jars

# debian users probably don't need to change anything else after this

#Location of the build files
build.directory=${basedir}/build
build.dir=${basedir}/build
build.docs=${basedir}/build/docs

# We look for jars in the same place as we install this one.
install.dir=${jedit.install.dir}/jars

jedit.home=${jedit.install.dir}
jedit.plugins.dir=${install.dir}
jedit.jars.dir=${install.dir}

# debian default
docbook.catalog=/usr/share/xml/docbook/schema/dtd/4.2/catalog

### If you want to build the user's guide and FAQ, set this property to
### the path of the DocBook-XSL stylesheets
docbook-xsl.dir=/usr/share/xml/docbook/stylesheet/nwalsh

# used by some older build.xml files
docbook.xsl=${docbook-xsl.dir}

### If you want to build the PDF user's guide, set this to your FOP install dir
fop.bin=/home/ezust/public_html/local/bin/fop

### If you want to create the javadocs, set this to your JDK's tools.jar path.
tools.jar=/usr/lib/jvm/java-1.5.0-sun/lib

# For building documentation, this can be "xsltproc" or "xalan"
docs-proc.target=xsltproc

# Required by some plugins that use xerces - assume they were installed with xerces plugin
xml-apis.jar=${install.dir}/xml-apis.jar
xerces.jar=${install.dir}/xercesImpl.jar

# Generate debug code
compiler.debug=yes

# Some sidekick parsers generate code via javacc as part of the build.
javacc=/home/ezust/workspace/javacc-4.0/bin/javacc
