###
### Build property file for GesturePlugin plugin
###

### Uncomment these two lines if you want to use jikes
#build.compiler=jikes
#build.compiler.emacs=true

### If you want to build the user's guide and FAQ,
### set this property to the path of the
### DocBook-XSL stylesheets
docbook.xsl=/usr/local/share/docbook-xsl-1.70.1

#jedit.install.dir=../..
#install.dir=..
dtd.location=/opt/kde3/share/apps/ksgmltools2/docbook/xml-dtd-4.2/docbookx.dtd
# :lineSeparator=\n:mode=properties:noTabs=false:tabSize=4:

### Set a version number here for the build you are doing
version=1.0
jedit.install.dir=/home/jchoyt/nobackup/jedit-plugins/jedit/4.3pre3
#docs-proc.target=xalan

# proxy-host=gatekeeper
# proxy-port=80

