#preview {
	background-color: #BACFE2;
	border-color: #999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	height: 200px;
}

#logos {
	float: left;
	margin: 0px 10px;
	width: 460px;
}
#logos img {
	border: 0px solid transparent;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	vertical-align: bottom;
}
#logos p {
	color: #0B264E;
	font-weight: bold;
	margin: 0px;
}
#logos .logo {
	font-size: 30px;
	margin-top: 80px;
}
#logos .text {
	font-size: 16px;
}

#screenshots {
	float: right;
	margin: 0px 10px;
	width: 460px;
}

#screenshots img {
	float: right;
	margin: 10px 50px;
	vertical-align: middle;
}



