body {
	padding: 0px;
	margin: 0px;
	background-color: #D6D9DF;
	font-family: "Tahoma", "Arial", sans-serif;
}
#wrapper {
	margin: 0px;
	border-color: #9297A1;
	border-style: solid;
	border-width: 1px 0px;
}
#navbar {
	height: 30px;
	background-image: url('../images/navbar_bg.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #333;
}
#navbar ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navbar ul li {
	display: inline;
}
#navbar ul li a {
	display: block;
	height: 27px;
	border-style: solid;
	border-color: #999;
	border-width: 0px 1px 0px 0px;
	float: left;
	margin: 2px 0px 0px 0px;
	padding: 0px 10px;
	font-size: 12px;
	text-decoration: none;
	line-height: 27px;
	color: #FFF;
}
#navbar ul li a.first {
	border-width: 0px 1px;
}

#navbar ul li a:hover {
	text-decoration: underline;
}

#navbar ul li a.selected {
	text-decoration: underline;
	color: #FDF39E;
	background-image: url('../images/navbar_bg.png');
	background-repeat: repeat-x;
	background-position: 0px -31px;
}
#search_container {
	float: right;
	width: 250px;
}
.clear {
	clear: both;
	font-size: 0px;
	overflow: hidden;
}
.center_960 {
	margin: 0px auto;
	width: 960px;
	overflow: hidden;
}
.gsc-control-cse {
	background-color: transparent;
	border: 0px solid transparent;
	margin: 0px;
	padding: 0px;
	line-height: 30px;
	height: 30px;
}
form.gsc-search-box {
	margin: 0px;
}

#main {
	border-color: #333;
	border-style: solid;
	border-width: 1px 0px;
}

#titlebar {
	background-color: #BACFE2;
	height: 55px;
	border-color: #999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

#logos {
	float: left;
	margin: 0px;
	overflow: hidden;
	width: 460px;
}
#logos p {
	margin-top: 20px;
}
#logos img {
	border: 0px solid transparent;
	margin: 5px 10px 0px 30px;
	vertical-align: bottom;
	float: left;
}
#logos span {
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	color: #0B264E;
}
#logos .logo {
	font-size: 24px;
}
#logos .text {
	font-size: 16px;
}

#titlebar #actions {
	float: right;
	margin: 14px 30px 0px 0px;
	padding: 0px;
	width: 200px;
	overflow: hidden;
	list-style-type: none;
}

#titlebar #actions .action {
	border: 0px solid transparent;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	width: 200px;
	text-align: right;
}

#titlebar #actions .action a {
	color: #39698A;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

#titlebar #actions .action a:hover {
	text-decoration: underline;
}

#content {
	background-color: #EEE;
	color: #000;
	padding: 20px 0px;
}
#footer_separator {
	height: 5px;
	background-color: #39698A;
	border-color: #333;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

#footer {
	margin-top: 20px;
}

#footer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#footer ul li {
	display: inline;
}
#footer ul li a {
	border: 0px solid transparent;
	margin: 0px 5px;
	vertical-align: top;
}
#footer ul li a img {
	border: 0px solid transparent;
	margin: 0px;
	vertical-align: top;
}

#intro_text {
	float: left;
	width: 540px;
	margin: 10px;
	font-size: 14px;
}

#intro_text fieldset {
	border: 0px solid transparent;
	padding: 0px;
}

#sidebar {
	float: right;
	width: 390px;
	margin: 10px 5px;
	padding: 0px;
}

#sidebar .action {
	border: 0px solid transparent;
	width: 120px;
	font-size: 14px;
	padding: 0px;
	float: left;
	margin: 0px 5px;
}

#sidebar .action a {
	display: block;
	text-decoration: none;
	color: #FA5200;
	font-weight: bold;
}

#sidebar .action a:hover {
	text-decoration: underline;
}

#sidebar .action .text {
	height: 130px;
}

.title {
	font-weight: bold;
	font-size: 16px;
	color: #0B264E;
	margin-bottom: 10px;
}

#news {
	margin-top: 20px;
}

#news .list {
	list-style-type: none;
	font-size: 16px;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
}

#news .list .date {
	color: #666;
}

#news .list a {
	color: #39698A;
	text-decoration: none;
}

#news .list a:hover {
	text-decoration: underline;
}
