#preview {
	background-color: #BACFE2;
	height: 55px;
	border-color: #999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

#logos {
	float: left;
	margin: 0px;
	overflow: hidden;
}
#logos p {
	margin-top: 20px;
}
#logos img {
	border: 0px solid transparent;
	margin: 5px 10px 0px 30px;
	vertical-align: bottom;
	float: left;
}
#logos span {
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	color: #0B264E;
}
#logos .logo {
	font-size: 24px;
}
#logos .text {
	font-size: 16px;
}

#preview #sidebar {
	float: right;
	margin: 14px 30px 0px 0px;
	padding: 0px;
	width: 200px;
	overflow: hidden;
}

#preview #sidebar #actions {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#preview #sidebar .action {
	border: 0px solid transparent;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	width: 200px;
	text-align: right;
}

#preview #sidebar .action a {
	color: #39698A;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

#preview #sidebar .action a:hover {
	text-decoration: underline;
}
